@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>List of Pets</h2>
<a href="/Pet/New" class="back-button">Add New</a>

@{ 
    foreach(var Pet in Model)
    {
    <div class="info-container">
        <div>
            <span class="name"><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></span>
        </div>
        <div>
            <span>@Pet.Species.Name</span>
        </div>
        <div>
            <span>@Pet.Weight Kg</span>
        </div>

        <span><a href="/Pet/Update/@Pet.PetID">Update</a></span>
        <span><a href="/Pet/Delete/@Pet.PetID">Delete</a></span>
    </div>
    }
}