@model List<PetGrooming.Models.Species>


@{
    ViewBag.Title = "List";
}

<h2>List of Species</h2>
<a href="/Species/Add/" class="back-button">Add a Species</a>
@{ 
    foreach (var species in @Model) {

    <div class="info-container">
        <div>
            <span class="name"><a href="/Species/Show/@species.SpeciesID">@species.Name</a></span>
        </div>
        <div>
            <span><a href="/Species/Update/@species.SpeciesID">Update</a></span>
            <span><a href="/Species/Delete/@species.SpeciesID">Delete</a></span>
        </div>
    </div>
    }
}