@model PetGrooming.Models.Species
@{
    ViewBag.Title = "Show";
}

<h2>Show Species</h2>

<div>Name : @Model.Name</div>
<a href="/Species/List">Back to List</a>
<a href="/Species/Update/@Model.SpeciesID">Back to List</a>

