@model PetGrooming.Models.Species
@{
    ViewBag.Title = "Show";
}

<h2>Show Species</h2>
<a href="/Species/List/" class="back-button">Back to List</a>

<div class="info-container">Name : @Model.Name</div>

<!-- Additonal stuff that can be added later-->
<div class="info-container"> List of Animals that are this particular species</div>

<a href="/Species/Update/@Model.SpeciesID">Update</a>
<a href="/Species/Delete/@Model.SpeciesID">Delete</a>


