@model PetGrooming.Models.Species
@{
    ViewBag.Title = "Show";
}

<h2>Show Species</h2>
<a href="/Species/List/">Back to List</a>

<div>Name : @Model.Name</div>
<div> List of Animals that are this particular species</div>

<a href="/Species/Update/@Model.SpeciesID">Update</a>
<a href="/Species/Delete/@Model.SpeciesID">Delete</a>


